zns-tools.fs/src/zns.fiemap
zns-tools.fs/src/zns.segmap
zns-tools.fs/src/zns.imap
zns-tools.fs/src/zns.fpbench

zns-tools.fs/Makefile
zns-tools.fs/configure
zns-tools.fs/aclocal.m4
zns-tools.fs/autom4te.cache/*
zns-tools.fs/build-aux/*
zns-tools.fs/config.h
zns-tools.fs/config.h.in
zns-tools.fs/config.status
zns-tools.fs/config.log
zns-tools.fs/configure~
zns-tools.fs/libtool
zns-tools.fs/Makefile.in
zns-tools.fs/config.h.in~
zns-tools.fs/stamp-h1

zns-tools.fs/src/.libs
zns-tools.fs/src/.deps
zns-tools.fs/src/Makefile

zns-tools.fs/m4/*
!zns-tools.fs/m4/.gitkeep

zns-tools.fs/lib/.libs
zns-tools.fs/lib/.deps
zns-tools.fs/lib/*.lo
zns-tools.fs/lib/*la

zns-tools.fs/man/Makefile
zns-tools.fs/man/Makefile.in

zns-tools.fs/compile_commands.json
zns-tools.fs/.cache/
*.o

*.swp

timeline-gen/.ipynb_checkpoints/
timeline-gen/*.pdf

confdefs.h
conftest.dir/

zns-tools.nvme/util/__pycache__/
nvme*

*/venv/*
